* {
    margin: 0;
    padding: 0;
  }
  
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3f5061;
}

main{
    margin: 3vh 27vh 4vh 27vh;
    background-color: white;
    padding: 5vh;
    border-radius: 10px;
}

.vg-legend {
    margin: 0; 
    padding: 0;  
}

.vega-bindings {
    display: flex;
    align-items: end;
    justify-content: right;
}


/* TITLE */
section {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    height: fit-content;
    width: fit-content;
}

.titleFont, .titleYear{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 5.2vh; 
}

.titleYear{
    color: brown;
    font-size: 4.5vh; 
}

.titleFont{
    padding-bottom: 1rem;
}

.titletext{
    font-family: "Inter", sans-serif;
    font-size: 2.5vh;
    font-weight: 750;
}

.text{
    font-size: 2vh;
    font-weight:600;
    color: #3f5061;
}

.subtext{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 1.8vh;
    color:grey;
}

.numbertext{
    font-family: "Inter", sans-serif;
    font-size: 2.8vh;
    font-weight: 800;
    color:#8ca252;
    
}

/* SECTION 1 */
#section1{
    background-color: #3f5061;
    height: fit-content;
}

/* SECTION 2 */
#section2{
    height: 60vh;
    width: 500px;
    padding-top: 2rem;
    background-color: #12589d;
}

/* 
.t1{
    padding-top: 2rem;
}

#map{
    flex: 1;
    margin: 0; 
    padding: 0; 
} */

/* SECTION 2 */
/* #section2{
    width: 100%;
}
#donut{
    flex:1;
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

.s2c1{
    flex:1;
}

.s2c2{
    flex:6.5;
} */

/* SECTION 3 */
/* #section3{
    height: fit-content;
    width: 100%;
    padding-bottom: 2rem;
}

#line{
    padding:0;
    margin:0;
    height:100%;
    width: 100%;
}

.s3c1{
    flex:2;
}

.s3c2{
    flex:1;
}



#section4{
    height: fit-content;
    width: 100%;
    padding-top: 0rem;
}

#bar{
    padding:0;
    margin:0;
    height:100%;
    width: 100%;
}

.s4c1{
    flex:2;
}

.s4c2{
    flex:1;
} */